<div class="container">
  <h2>Edit Restaurant</h2>
</div>
<hr />
<div class="container">
  <form id="restaurant-form" action="/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Restaurant name</label>
      <input name="name" type="text" class="form-control" value="{{restaurant.name}}" required />
    </div>
    <div class="mb-3">
      <label for="name_en" class="form-label">Restaurant name(English)</label>
      <input name="name_en" type="text" class="form-control" value="{{restaurant.name_en}}"/>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input name="category" type="text" class="form-control" value="{{restaurant.category}}"/>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input name="image" type="url" class="form-control" value="{{restaurant.image}}"/>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input name="location" type="text" class="form-control" value="{{restaurant.location}}"/>
    </div>
    <div class="mb-3">
      <label for="google_map" class="form-label">Google Map Link</label>
      <input name="google_map" type="url" class="form-control" value="{{restaurant.google_map}}"/>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input
        name="phone"
        type="tel"
        class="form-control"
        pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}"
        value="{{restaurant.phone}}"
      />
    </div>
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <input
        name="rating"
        inputmode="decimal"
        type="text"
        class="form-control"
        value="{{restaurant.rating}}"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        name="description"
        id=""
        cols="10"
        rows="2"
        form="restaurant-form"
      >{{restaurant.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/restaurants" class="btn btn-secondary">Back</a>
  </form>
</div>